:root {
  /* https://paletton.com/#uid=71T0u0kw0w0pv+RsJQdsagems5B */
  --color1: #8fc93a;
  --color1a: #dbffa6;
  --color1b: #456e08;
  --color2: #e18335;
  --color3: #4eace7;
  --color4: #ad66d3;
  --color5: #e4cc37;

  --background: #111;
  --separator: #333;
}

html {
  background: #222;
}

body {
  font-family: sans-serif;
  color: #eee;
  background: var(--background);
  margin: 0 auto;
  padding: 2em;
  max-width: 50%;
}

header {
  font-size: 3em;
  padding-bottom: 5px;
  color: var(--color2);
  background: linear-gradient(to right, var(--color2) 0%, transparent 100%) left bottom transparent no-repeat;
  background-size: 100% 5px;
}

footer {
  background: #333;
  margin-top: 5em;
  padding: 1.5em;
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
}

body dl dl {
  margin-left: 3em;
}

dt:has(> a) {
  display: list-item;
  list-style-type: disc;
}

a {
  color: var(--color1);
  text-decoration: none;
}

a:visited {
  color: var(--color1b);
}

a:hover {
  color: var(--color1a);
  text-decoration: underline;
}

.yt {
  margin-left: 2em;
}

body > dl > dd {
  margin: 0;
}

body > dl > dd > dl dd {
  margin: 0;
}

/* 1st level wrapper */
body > dl > dd > dl {
  margin: 0;
}

/* 1st level single items (uncategorized) */
body > dl > dd > dl > dt {
  margin-left: 2em;
  list-style-type: disclosure-closed;
}

/* 1st Layer Folders, ie Videos/Links */
body > dl > dd > h3 {
  font-size: 2em;
  padding: 0.25em;
  margin-bottom: 0.5em;
  color: var(--color5);
  background: var(--separator);
}

body > dl > dd > dl > dd > dl > dt {
  list-style-type: disclosure-closed;
}

/* 2nd Layer Folders, ie Topics */
body > dl > dd > dl > dd > h3 {
  padding-bottom: 5px;
  color: var(--color3);
  background: linear-gradient(to right, var(--color3) 0%, transparent 100%) left bottom transparent no-repeat;
  background-size: 100% 5px;
  margin-bottom: 0;
}

/* 3rd Layer Folders, ie Sub-Topics */
body > dl > dd > dl > dd > dl > dd > h3 {
  padding-bottom: 5px;
  color: var(--color4);
  background: linear-gradient(to right, var(--color4) 0%, transparent 100%) left bottom transparent no-repeat;
  background-size: 100% 5px;
  margin-bottom: 0;
}

@media screen and (max-width: 1400px) {
  body {
    max-width: 80%;
  }
}

@media screen and (max-width: 1000px) {
  body {
    max-width: 100%;
  }
}

@media screen and (max-width: 800px) {
  body {
    max-width: 100%;
    margin: 0;
    padding: 5px;
  }

  body > dl {
    margin-left: 0;
  }

  body > dl > dd > dl {
    margin: 0;
  }

  body dl dl {
    margin-left: 2em;
  }

  header {
    font-size: 1.75em;
  }
}
