html {
    background: #222;
}

body {
    font-family: sans-serif;
    color: #EEE;
    background: #111;
    margin: 0 auto;
    padding: 2em;

    max-width: 50%;
}

body dl dl {
    margin-left: 3em;
}

dt:has( > a) {
    display: list-item;
    list-style-type: disc;
}

a {
    color: #FF0;
    text-decoration: none;
}

a:visited {
    color: #8A8A02;
}

a:hover {
    color: #FFFFA2;
    text-decoration: underline;
}

.yt {
    margin-left: 2em;
}

body > dl > dt > h3 {
    font-size: 2em;
    color: #FF0;
    background: #333;
    padding: 0.25em;
}



@media screen and (max-width: 1400px) {
    body {
        max-width: 80%;
    }
}

@media screen and (max-width: 1000px) {
    body {
        max-width: 100%;
    }
}

@media screen and (max-width: 800px) {
    body {
        max-width: 100%;
        margin: 0;
        padding: 5px;
    }

    body > dl {
        margin-left: 0;
    }

    body > dl > dt > dl {
        margin: 0;
    }

    body dl dl {
        margin-left: 2em;
    }
}