    <header>Codex's GameDev Link List</header>

    <section>
      <p>
        This is a growing Linked List (see what I did there 🤣) of content I've curated from across the interwebs while
        on my Game Dev Journey.
      </p>
      <p>
        The links found here are Youtube Playlists I've personally curated, Series Playlists from various content
        creators, and a plethora of Articles/Blogs/Whitepapers I've found interesting!
      </p>
      <p>
        Since I've currently chosen to use Unity, most implementations or examples are in that game engine. Having said
        that, I've also done my best to find more conceptual information and engine-agnostic topics, so there is
        something to learn from almost everything found here.
      </p>
      <p>
        Feel free to interact with me on
        <a href="https://twitter.com/CodexHere" target="_blank" rel="noopener noreferrer">Twitter</a>, and watch me
        learn live on <a href="https://twitch.tv/CodexHere" target="_blank" rel="noopener noreferrer">Twitch</a>!
      </p>
    </section>